/* Fonts */

@font-face {
	font-family: 'League Spartan';
	src: url('../fonts/league-spartan/leaguespartan-bold.eot');
	src: url('../fonts/league-spartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/league-spartan/leaguespartan-bold.woff2') format('woff2'),
		 url('../fonts/league-spartan/leaguespartan-bold.woff') format('woff'),
		 url('../fonts/league-spartan/leaguespartan-bold.ttf') format('truetype'),
		 url('../fonts/league-spartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Thin Italic.otf') format('opentype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Light Italic.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Regular Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Bold Italic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Black.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/mission-gothic/Mission Gothic Black Italic.otf') format('opentype');
	font-weight: 900;
	font-style: italic;
}


@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}